<div class="jumbotron center">
	<h1>GREAT FUTURE AHEAD!</h1>
	<% if user_signed_in? %>
	  <p>HOORAY!!!</P>
	<% else %>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
  <% end %>

</div>

			<h2>WHAT MUST I DO?</h2>

<table>
	<thead>
		<tr>
			<th>DREAM BIG</th>
			<th>FIND YOUR PURPOSE</th>
			<th>TAKE THE PLUNGE</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Life is too short</td>
			<td>What am I to do?</td>
			<td>Go for it</td>
		</tr>
	</tbody>
</table>